{{ 'store-list-gsheet.css' | asset_url | stylesheet_tag }}
{{- 'multicolumn.css' | asset_url | stylesheet_tag -}}

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.mobile_padding_top | append: 'px' }};
    padding-bottom: {{ section.settings.mobile_padding_bottom | append: 'px' }};
  }
  .store-list {
    background: {{ section.settings.bg_color }};
  }
  .store-list h4, .store-list h3, .store-list a, .store-list p {
    color: {{ section.settings.text_color }};
  }
  @media screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.section_padding_top | append: 'px' }};
      padding-bottom: {{ section.settings.section_padding_bottom | append: 'px' }};
    }
  }
{% endstyle %}

<div class="page-width store-list padding-{{ section.id }}">
  <h3 class="heading">{{ section.settings.heading }}</h3>
  <p class="desc">{{ section.settings.description | strip_html }}</p>
  <google-sheet-stocklist
    data-api-key="{{ section.settings.api_key }}"
    data-sheet-id="{{ section.settings.sheet_id }}"
    data-range="{{ section.settings.sheet_range }}">
  </google-sheet-stocklist>
</div>

{% schema %}
  {
    "name": "Store list G-Sheet",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "header",
          "content": "Google Sheet details"
        },
        {
          "type": "text",
          "id": "api_key",
          "label": "API Key"
        },
        {
          "type": "text",
          "id": "sheet_id",
          "label": "Sheet Id",
          "info": "It will be available in the google sheet url"
        },
        {
          "type": "text",
          "id": "sheet_range",
          "label": "Sheet range",
          "info": "Example: Sheet1"
        },
        {
          "type": "header",
          "content": "Color settings"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#263349"
        },
        {
          "type": "header",
          "content": "Section padding"
        },
        {
          "type": "range",
          "id": "section_padding_top",
          "label": "Padding top (Desktop)",
          "default": 80,
          "min": 0,
          "max": 100,
          "step": 4
        },
        {
          "type": "range",
          "id": "section_padding_bottom",
          "label": "Padding bottom (Desktop)",
          "default": 80,
          "min": 0,
          "max": 100,
          "step": 4
        },
        {
          "type": "range",
          "id": "mobile_padding_top",
          "label": "Padding top (Mobile)",
          "default": 32,
          "min": 0,
          "max": 100,
          "step": 4
        },
        {
          "type": "range",
          "id": "mobile_padding_bottom",
          "label": "Padding bottom (Mobile)",
          "default": 32,
          "min": 0,
          "max": 100,
          "step": 4
        }
    ],
    "presets": [
        {
          "name": "Store list G-Sheet"
        }
    ]
  }
{% endschema %}
